/*common styles*/
body {
    color: #1B3848;
    font-family:"Museo Slab", Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #fff, #9baab3 );
    min-height: 100vh;

}

header,
nav {
    border-top: 10px solid #1B3848
    width 100%;
    color: #1B3848;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);

}

header {
    padding-bottom: 30px;
    text-align: center; /*center header text*/

}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #1B3848;
    transition: color 0.3s;
}

nav a:hover{
    color: #f9ad3b;
}

button {
    background-color: #fff;
    color: #1B3848;
    border: 2px solid #1B3848;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 12px;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    

/*common styles for content on each webpage*/
}
main {
    width: 50%;
    margin: 20px auto;
    text-align: center;
   
}

main p{
    margin-bottom: 20px;
}


/*image styles*/

.image-container {
    text-align: center;
    margin-bottom: 20px;

}

.image-container p {
    margin-top: 5px;
    color: #1B3848;
}

img.bordered-image {
    border: 2px solid #1B3848;
    display: block;
    margin: 0 auto 20px;
}

/*paragraph styles*/
main {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

main p {
    font-size: 0.9em;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top:auto;
    padding: 20px 0;

    }



/*styles for resume page*/
.resume-content ul {
    list-style: none;
    padding-left: 0;
}

.resume-content li {
    font-weight: normal;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust the height as needed */
}

.bordered-image {
    /* Your existing border styling or any additional image styling */
    border: 2px solid #1B3848;
    /* Additional styles as needed */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    margin-bottom: -45px;
}

.image-container p {
    margin-bottom: 80px; /* Adjust this value to move the paragraph up or down */
    color: #1B3848;
}

img.bordered-image {
    border: 2px solid #1B3848;
    border-color: #1B3848;
    display: block;
    margin: -20 auto 30px;
}
